### Executables ###
target

### Logger ###
logger

### Maven ###
mvnw.cmd
mvnw
.mvn*

### IntelliJ IDEA ###
.idea
*.iml
src/main/resources/META-INF

### Properties (in .gitignore for not showing credentials to database for example) ###
src/main/resources/*.properties
