### Executables ###
target/

### Maven ###
mvnw.cmd
mvnw
.mvn*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Properties (credentials to database for example) ###
src/main/resources/*.properties

### Other things
frontend-controller.png
