a {
    color: whitesmoke;
}
a:hover {
    color: white;
}
.navlink {
    color: #FFFFFF;
    font-size: 23px;
    padding: 4px 0;
    padding-left: 3.2%;
    padding-right: 0;
}
.navbar {
    min-height: 30px;
}
.input-group-prepend {
    min-height: 100%;
}
.input-group-addon {
    min-height: 100%;
}