<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Your email is verified.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="/image/png" href="img/icon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel ="stylesheet" href="../css/navbar.css">
    <link rel ="stylesheet" href="../css/main.css">
</head>
<body class = "container">

<nav class="navbar navbar-dark bg-dark navbar-expand fixed-top">
    <strong class="row col-12">
        <a class = "navlink col-2" href = "/">Main page</a>
        <a class = "navlink col-2" href = "/login">Log in</a>
        <a class = "navlink col-2" href = "/logout">Log out</a>
    </strong>
</nav>
<div class="row col-12">
    <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
    <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
    <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
    <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
</div>

<h2 style="margin: 20px;">Your e-mail is verified. You can log in now.</h2>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>