<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Trade_Analysis</title>
</head>
<body>
    <div class = "menu">
        <a href = "/">Main page</a>
        <a href = "/login">Log in</a>
        <a href = "/logout">Log out</a>
        <a href = "/sign-up">Sign up</a>
        <a href = "/me/delete">Delete acount</a>
        <a href = "/me">My data</a>
        <a href = "/users">Users</a>
    </div>

    <p th:text = "${greeting}" style = "font-size: 72px;"></p>
</body>
</html>