
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Confirm Log Out?</title>
    <link rel="icon" type="/image/png" href="img/icon.png">


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body class="bg-dark">
<div class="container">
    <form class="form-signin" method="post" action="/logout">
        <h2 class="form-signin-heading" style="color: whitesmoke;">Are you sure you want to log out?</h2>
        <input name="_csrf" type="hidden" th:value="${csrf}" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
    </form>
</div>
</body>
</html>