<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Stock Prices</title>
    <link rel="icon" type="/image/png" href="img/icon.png">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel ="stylesheet" href="../css/navbar.css">
    <link rel ="stylesheet" href="../css/main.css">
    <!--	frontend dev-->
    <link rel ="stylesheet" href="../static/css/navbar.css">
    <link rel ="stylesheet" href="../static/css/main.css">
    <!--	/frontend dev-->

    <style>
        .main {
            margin: 0 0 0 100px;
        }
        .form-item:focus {
            outline: none;
        }
        .form-item {
            height: 30px;
            margin: 0 10px 0 0;
            border-radius: 8px;
            border: 0;
            padding: 0 13px 0 13px;
        }
        .dropdown-menu-button {
            height: 100% !important;
            padding: auto !important;
        }
        #stock-form {
            height: 100% !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand fixed-top">
        <strong class="row col-12">
            <a class = "navlink col-2" href = "/">Main page</a>
            <a class = "navlink col-2" href = "/login">Log in</a>
            <a class = "navlink col-2" href = "/logout">Log out</a>
            <a class = "navlink col-2" href = "/sign-up">Sign up</a>
            <a class = "navlink col-2" href = "/me">My data</a>
            <a class = "navlink col-2" href = "/users">Users</a>
        </strong>
    </nav>
    <div class="row col-12">
        <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
        <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
        <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
        <div class="col-6 col-md-6 col-lg-3" style="height: 40px;"></div>
    </div>

    <div class="main">
        <form method="POST" th:action="@{/stocks}" class="row col-12 container-fluid" id="stock-form" th:object="${stockQueryDto}" style="height: 50px !important;">
            <div style="margin: 0 !important; height: 50px !important;">
                <input type="text" class="form-item" id="api-key-field" placeholder="API VANTAGE KEY" th:value="*{apiKey}" th:field="*{apiKey}" required>
            </div>

            <select class="form-item" th:field="*{period}" required>
                <option value="" selected disabled hidden id="default-period">Period</option>
                <option class="dropdown-menu-button" th:each="periodOption: ${periods}" th:value="${periodOption}" th:text="${periodOption.prettified}"></option>
            </select>

            <select class="form-item" th:field="*{symbol}" required>
                <option value="" selected disabled hidden id="default-symbol">Symbol</option>
                <option class="dropdown-menu-button" th:each="symbolOption: ${symbols}" th:value="${symbolOption}" th:text="${symbolOption}"></option>
            </select>

            <button class="form-item" type="submit"> Show </button>
        </form>

        <div class="container-fluid" id="error-info">
            <span th:text="${info}"></span>
        </div>

        <div class="container-fluid" id="result-wrapper">
            <div id="result">
                <div id="main-chart" style="width: 900px; height: 500px"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        let apiKey = '[[${stockQueryDto.getApiKey()}]]';

        document.getElementById('api-key-field').value = apiKey;
        document.getElementById('default-symbol').selected = 'selected';

        let result = '[[${result}]]';

        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Date', 'Prices'],
            ['2004',  1000],
            ['2005',  1170],
            ['2006',  660],
            ['2007',  1030]
            ]);

            var options = {
            title: 'Main chart',
            curveType: 'none',
            legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('main-chart'));

            chart.draw(data, options);
        }
        </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>